Repository mhbxyz/OpenWatchParty: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, dotnet-build, dotnet-test, js-syntax

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd server && cargo fmt'
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd server && cargo clippy -- -D warnings'
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: bash -c 'cd server && cargo test --quiet'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

  # .NET checks
  - repo: local
    hooks:
      - id: dotnet-build
        name: dotnet build
        entry: bash -c 'cd plugins/jellyfin && dotnet build OpenWatchParty.Tests/OpenWatchParty.Tests.csproj --nologo -v q'
        language: system
        files: '\.cs$|\.csproj$'
        pass_filenames: false

      - id: dotnet-test
        name: dotnet test
        entry: bash -c 'cd plugins/jellyfin && dotnet test OpenWatchParty.Tests/OpenWatchParty.Tests.csproj --nologo -v q --no-build'
        language: system
        files: '\.cs$|\.csproj$'
        pass_filenames: false
        stages: [pre-push]

  # JavaScript syntax check
  - repo: local
    hooks:
      - id: js-syntax
        name: js syntax check
        entry: bash -c 'for f in clients/jellyfin-web/*.js; do node --check "$f" || exit 1; done'
        language: system
        files: 'clients/jellyfin-web/.*\.js$'
        pass_filenames: false

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008']  # Ignore pinning apt versions

feat(owpctl): add maintenance lifecycle commands
  src/owpctl/src/app.rs
  src/owpctl/src/cli.rs
  src/owpctl/src/installer.rs
  src/owpctl/src/jellyfin.rs
  src/owpctl/src/lib.rs
  src/owpctl/src/maintenance.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(owpctl): add local web setup wizard
  src/owpctl/Cargo.lock
  src/owpctl/Cargo.toml
  src/owpctl/src/app.rs
  src/owpctl/src/lib.rs
  src/owpctl/src/web.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(server): expose versioned health metadata
  src/server/src/routes.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(plugin): add installation health dashboard
  src/plugins/jellyfin/OpenWatchParty.Tests/DiagnosticsTests.cs
  src/plugins/jellyfin/OpenWatchParty/Controllers/OpenWatchPartyDiagnosticsController.cs
  src/plugins/jellyfin/OpenWatchParty/InjectionDiagnostics.cs
  src/plugins/jellyfin/OpenWatchParty/OpenWatchPartyDiagnosticsService.cs
  src/plugins/jellyfin/OpenWatchParty/Plugin.cs
  src/plugins/jellyfin/OpenWatchParty/ScriptInjectionMiddleware.cs
  src/plugins/jellyfin/OpenWatchParty/ServiceRegistrator.cs
  src/plugins/jellyfin/OpenWatchParty/Web/configPage.html
Due: dotnet-build, dotnet-test

feat(owpctl): probe authenticated WebSocket health
  src/owpctl/src/diagnostics.rs
  src/owpctl/src/jellyfin.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(server): validate trusted RS256 tokens
  src/server/src/auth.rs
  src/server/src/main.rs
  src/server/src/trust.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(auth): add asymmetric trust orchestration
  src/owpctl/Cargo.lock
  src/owpctl/Cargo.toml
  src/owpctl/src/app.rs
  src/owpctl/src/cli.rs
  src/owpctl/src/jellyfin.rs
  src/owpctl/src/lib.rs
  src/owpctl/src/trust.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(auth): pair Jellyfin with RS256 signing keys
  src/owpctl/src/app.rs
  src/owpctl/src/compose.rs
  src/owpctl/src/config.rs
  src/owpctl/src/installer.rs
  src/owpctl/src/maintenance.rs
  src/owpctl/src/paths.rs
  src/plugins/jellyfin/OpenWatchParty.Tests/RsaSigningKeyStoreTests.cs
  src/plugins/jellyfin/OpenWatchParty/Controllers/OpenWatchPartyController.cs
  src/plugins/jellyfin/OpenWatchParty/Controllers/SigningKeyController.cs
  src/plugins/jellyfin/OpenWatchParty/RsaSigningKeyStore.cs
Due: cargo-fmt, cargo-clippy, cargo-test, dotnet-build, dotnet-test

test(server): verify 3072-bit RS256 interoperability
  src/server/Cargo.lock
  src/server/Cargo.toml
  src/server/src/auth.rs
  src/server/src/trust.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(plugin): expose asymmetric pairing status
  src/plugins/jellyfin/OpenWatchParty/Web/configPage.html
Due: none

ci: build sign and test owpctl
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  infra/just/lint.just
  infra/just/test.just
  infra/scripts/verify-versions.sh
  infra/scripts/verify-workflow-permissions.py
Due: none

ops(auth): document deployable authentication modes
  .env.example
  infra/docker/dev/docker-compose.yml
  infra/docker/prod/docker-compose.yml
Due: none

docs: add guided setup and maintenance workflow
  docs/operations/configuration.md
  docs/operations/installation.md
  docs/operations/owpctl.md
Due: none

fix(auth): serialize RSA key store access
  src/plugins/jellyfin/OpenWatchParty.Tests/RsaSigningKeyStoreTests.cs
  src/plugins/jellyfin/OpenWatchParty/RsaSigningKeyStore.cs
Due: dotnet-build, dotnet-test

chore(server): remove vulnerable RSA test dependency
  src/server/Cargo.lock
  src/server/Cargo.toml
  src/server/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-test

release: prepare v0.3.0
  README.md
  docs/development/ci.md
  docs/operations/compatibility.md
  docs/operations/deployment.md
  docs/operations/installation.md
  docs/product/features.md
  src/clients/jellyfin-web/manifest.json
  src/owpctl/Cargo.lock
  src/owpctl/Cargo.toml
  src/owpctl/src/jellyfin.rs
  src/owpctl/tests/model.rs
  src/plugins/jellyfin/Directory.Build.props
  version.json
Due: cargo-fmt, cargo-clippy, cargo-test

fix(owpctl): upgrade installed plugin versions
  src/owpctl/src/installer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(owpctl): configure published session port
  src/owpctl/src/maintenance.rs
Due: cargo-fmt, cargo-clippy, cargo-test

release: prepare v0.3.1
  README.md
  docs/development/ci.md
  docs/operations/compatibility.md
  docs/operations/deployment.md
  docs/operations/installation.md
  docs/product/features.md
  src/clients/jellyfin-web/manifest.json
  src/owpctl/Cargo.lock
  src/owpctl/Cargo.toml
  src/owpctl/tests/model.rs
  src/plugins/jellyfin/Directory.Build.props
  src/server/Cargo.lock
  src/server/Cargo.toml
  version.json
Due: cargo-fmt, cargo-clippy, cargo-test

fix(owpctl): keep public URL aligned with port
  src/owpctl/src/maintenance.rs
Due: cargo-fmt, cargo-clippy, cargo-test

deploy(prod): use signed v0.3.1 image
  infra/docker/prod/docker-compose.yml
Due: none

release: prepare v0.3.2
  README.md
  docs/development/ci.md
  docs/operations/compatibility.md
  docs/operations/deployment.md
  docs/operations/installation.md
  docs/product/features.md
  src/clients/jellyfin-web/manifest.json
  src/owpctl/Cargo.lock
  src/owpctl/Cargo.toml
  src/owpctl/tests/model.rs
  src/plugins/jellyfin/Directory.Build.props
  src/server/Cargo.lock
  src/server/Cargo.toml
  version.json
Due: cargo-fmt, cargo-clippy, cargo-test

deploy(prod): use signed v0.3.2 image
  infra/docker/prod/docker-compose.yml
Due: none

fix(auth): make asymmetric trust updates observable
  .env.example
  infra/docker/dev/docker-compose.yml
  infra/docker/prod/docker-compose.yml
  src/owpctl/src/compose.rs
  src/server/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(owpctl): recover safely from partial operations
  src/owpctl/src/app.rs
  src/owpctl/src/installer.rs
  src/owpctl/src/jellyfin.rs
  src/owpctl/src/maintenance.rs
  src/owpctl/src/state.rs
  src/owpctl/src/web.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(owpctl): remove self-referential token assertion
  src/owpctl/src/web.rs
Due: cargo-fmt, cargo-clippy, cargo-test

release: prepare v0.3.3
  README.md
  docs/development/ci.md
  docs/operations/compatibility.md
  docs/operations/deployment.md
  docs/operations/installation.md
  docs/product/features.md
  src/clients/jellyfin-web/manifest.json
  src/owpctl/Cargo.lock
  src/owpctl/Cargo.toml
  src/owpctl/tests/model.rs
  src/plugins/jellyfin/Directory.Build.props
  src/server/Cargo.lock
  src/server/Cargo.toml
  version.json
Due: cargo-fmt, cargo-clippy, cargo-test

deploy(prod): use signed v0.3.3 image
  infra/docker/prod/docker-compose.yml
Due: none

fix(client): send the modern Jellyfin authorization header
  src/clients/jellyfin-web/tests/auth-config.test.js
  src/clients/jellyfin-web/ws/auth.js
Due: js-syntax

fix(client): back off blocked authentication retries
  src/clients/jellyfin-web/app/lifecycle.js
  src/clients/jellyfin-web/state.js
  src/clients/jellyfin-web/tests/auth-retry-backoff.test.js
  src/clients/jellyfin-web/ws/connection.js
Due: js-syntax

fix(plugin): keep failed diagnostics in the support report
  src/clients/jellyfin-web/tests/config-page-support-report.test.js
  src/plugins/jellyfin/OpenWatchParty/Web/configPage.html
Due: js-syntax

perf(auth): cache the RSA trust store between validations
  .gitleaks.toml
  src/server/src/auth.rs
  src/server/src/trust.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(server): keep connections alive with protocol heartbeats
  src/server/src/main.rs
  src/server/src/tasks.rs
  src/server/src/ws/constants.rs
  src/server/src/ws/dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(server): stop broadcasting the room list to unauthenticated clients
  src/server/src/messaging.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(server): count chat message limits in characters
  src/server/src/ws/handlers/chat.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(owpctl): harden installation validation, state and output
  src/owpctl/src/app.rs
  src/owpctl/src/compose.rs
  src/owpctl/src/diagnostics.rs
  src/owpctl/src/installer.rs
  src/owpctl/src/maintenance.rs
  src/owpctl/src/output.rs
  src/owpctl/src/web.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(owpctl): never let a stale temporary file block a write
  src/owpctl/src/storage.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(plugin)!: support Jellyfin 12
  .githooks/pre-commit
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  global.json
  infra/docker/dev/docker-compose.yml
  infra/docker/prod/docker-compose.yml
  infra/just/test.just
  infra/scripts/package-plugin.sh
  infra/scripts/tests/locked-restore.test.sh
  infra/scripts/verify-versions.sh
  src/clients/jellyfin-web/manifest.json
  src/owpctl/Cargo.lock
  src/owpctl/Cargo.toml
  src/plugins/jellyfin/Directory.Build.props
  src/plugins/jellyfin/OpenWatchParty.Tests/DiagnosticsTests.cs
  src/plugins/jellyfin/OpenWatchParty.Tests/OpenWatchParty.Tests.csproj
  src/plugins/jellyfin/OpenWatchParty.Tests/packages.lock.json
  src/plugins/jellyfin/OpenWatchParty/OpenWatchPartyPlugin.csproj
  src/plugins/jellyfin/OpenWatchParty/packages.lock.json
  src/server/Cargo.lock
  src/server/Cargo.toml
  version.json
Due: dotnet-build, dotnet-test

docs: document the Jellyfin 12 line and add a bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/development/ci.md
  docs/development/file-transformation-integration.md
  docs/development/release.md
  docs/development/setup.md
  docs/operations/compatibility.md
  docs/operations/deployment.md
  docs/operations/installation.md
  docs/operations/owpctl.md
  docs/operations/troubleshooting.md
  docs/product/features.md
  docs/technical/architecture.md
  docs/technical/plugin.md
Due: none
