Repository mhbxyz/OpenWatchParty: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, dotnet-build, dotnet-test, js-syntax

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd server && cargo fmt'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd server && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: bash -c 'cd server && cargo test --quiet'
  language: system
  pass_filenames: false
  stages:
  - pre-push

dotnet-build:
  name: dotnet build
  entry: bash -c 'cd plugins/jellyfin && dotnet build OpenWatchParty.Tests/OpenWatchParty.Tests.csproj --nologo -v q'
  language: system
  pass_filenames: false

dotnet-test:
  name: dotnet test
  entry: bash -c 'cd plugins/jellyfin && dotnet test OpenWatchParty.Tests/OpenWatchParty.Tests.csproj --nologo -v q --no-build'
  language: system
  pass_filenames: false
  stages:
  - pre-push

js-syntax:
  name: js syntax check
  entry: bash -c 'for f in clients/jellyfin-web/*.js; do node --check "$f" || exit 1; done'
  language: system
  pass_filenames: false

Remove unused quality control code
  audit.md
  clients/jellyfin-web/playback.js
  clients/jellyfin-web/state.js
  clients/jellyfin-web/ws.js
  server/src/types.rs
  server/src/ws.rs
Due: cargo-fmt, cargo-clippy, cargo-test, js-syntax

Move logo to docs directory
  README.md
  docs/index.md
  docs/logo.png
Due: none

Implement hybrid time sync (min-delay + EMA)
  clients/jellyfin-web/state.js
  clients/jellyfin-web/ws.js
Due: js-syntax

docs: add new logo asset
  docs/new-logo.png
Due: none

docs: add compatibility matrix and align Jellyfin versions
  docs/index.md
  docs/operations/compatibility.md
  docs/operations/installation.md
  docs/product/features.md
  docs/technical/plugin.md
Due: none

Improve file transformation injection fallback and diagnostics
  docs/development/file-transformation-integration.md
  docs/operations/troubleshooting.md
  src/plugins/jellyfin/OpenWatchParty.Tests/FileTransformationIntegrationTests.cs
  src/plugins/jellyfin/OpenWatchParty/FileTransformationIntegration.cs
Due: dotnet-build, dotnet-test

fix: restore script injection for Jellyfin 10.11.6+
  docs/operations/installation.md
  docs/operations/troubleshooting.md
  infra/docker/dev/docker-compose.yml
  infra/just/common.just
  src/clients/jellyfin-web/app/lifecycle.js
  src/clients/jellyfin-web/plugin.js
  src/clients/jellyfin-web/ui/render.js
  src/clients/jellyfin-web/ui/styles.js
  src/plugins/jellyfin/OpenWatchParty.Tests/FileTransformationIntegrationTests.cs
  src/plugins/jellyfin/OpenWatchParty.Tests/OpenWatchParty.Tests.csproj
  src/plugins/jellyfin/OpenWatchParty/Controllers/OpenWatchPartyController.cs
  src/plugins/jellyfin/OpenWatchParty/FileTransformationIntegration.cs
  src/plugins/jellyfin/OpenWatchParty/OpenWatchPartyPlugin.csproj
  src/plugins/jellyfin/OpenWatchParty/ScriptInjectionMiddleware.cs
Due: dotnet-build, dotnet-test, js-syntax

fix(plugin): serve embedded client modules
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  infra/just/test.just
  src/clients/jellyfin-web/plugin.js
  src/plugins/jellyfin/OpenWatchParty.Tests/ClientAssetPublicationTests.cs
  src/plugins/jellyfin/OpenWatchParty.Tests/OpenWatchParty.Tests.csproj
  src/plugins/jellyfin/OpenWatchParty/Controllers/OpenWatchPartyController.cs
  src/plugins/jellyfin/OpenWatchParty/OpenWatchPartyPlugin.csproj
Due: dotnet-build, dotnet-test, js-syntax

fix(plugin): make Jellyfin script injection resilient
  src/plugins/jellyfin/OpenWatchParty.Tests/FileTransformationIntegrationTests.cs
  src/plugins/jellyfin/OpenWatchParty.Tests/ScriptInjectionMiddlewareTests.cs
  src/plugins/jellyfin/OpenWatchParty/ClientScriptInjection.cs
  src/plugins/jellyfin/OpenWatchParty/FileTransformationIntegration.cs
  src/plugins/jellyfin/OpenWatchParty/OpenWatchPartyPlugin.csproj
  src/plugins/jellyfin/OpenWatchParty/ScriptInjectionMiddleware.cs
  src/plugins/jellyfin/OpenWatchParty/ScriptInjectionStartupFilter.cs
  src/plugins/jellyfin/OpenWatchParty/ServiceRegistrator.cs
Due: dotnet-build, dotnet-test

fix(client): resolve resources under Jellyfin base paths
  src/clients/jellyfin-web/plugin.js
  src/clients/jellyfin-web/tests/loader.test.js
  src/plugins/jellyfin/OpenWatchParty.Tests/ClientAssetPublicationTests.cs
Due: dotnet-build, dotnet-test, js-syntax

refactor(server): unify shared state locking
  src/server/src/main.rs
  src/server/src/messaging.rs
  src/server/src/room/close.rs
  src/server/src/room/leave.rs
  src/server/src/room/mod.rs
  src/server/src/routes.rs
  src/server/src/tasks.rs
  src/server/src/test_helpers.rs
  src/server/src/types.rs
  src/server/src/ws/connection.rs
  src/server/src/ws/dispatch.rs
  src/server/src/ws/handlers/auth.rs
  src/server/src/ws/handlers/chat.rs
  src/server/src/ws/handlers/create.rs
  src/server/src/ws/handlers/join.rs
  src/server/src/ws/handlers/misc.rs
  src/server/src/ws/handlers/playback.rs
  src/server/src/ws/mod.rs
  src/server/src/ws/pending_play.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(server): enforce single-room membership
  src/server/src/ws/handlers/create.rs
  src/server/src/ws/handlers/join.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(server): clear guests when the host closes a room
  src/server/src/room/close.rs
  src/server/src/room/leave.rs
  src/server/src/room/mod.rs
  src/server/src/ws/handlers/join.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(server): authorize ready messages
  src/server/src/ws/handlers/misc.rs
  src/server/src/ws/pending_play.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(server): defer room discovery until authentication
  src/server/src/ws/connection.rs
  src/server/src/ws/dispatch.rs
  src/server/src/ws/handlers/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(auth): fail closed outside explicit development mode
  .env.example
  docs/operations/configuration.md
  docs/operations/deployment.md
  docs/operations/installation.md
  docs/technical/api.md
  docs/technical/plugin.md
  infra/docker/dev/docker-compose.yml
  infra/docker/prod/docker-compose.yml
  src/clients/jellyfin-web/state.js
  src/clients/jellyfin-web/tests/auth-config.test.js
  src/clients/jellyfin-web/ws/auth.js
  src/clients/jellyfin-web/ws/connection.js
  src/plugins/jellyfin/OpenWatchParty.Tests/PluginConfigurationTests.cs
  src/plugins/jellyfin/OpenWatchParty/Configuration/PluginConfiguration.cs
  src/plugins/jellyfin/OpenWatchParty/Controllers/OpenWatchPartyController.cs
  src/plugins/jellyfin/OpenWatchParty/Plugin.cs
  src/plugins/jellyfin/OpenWatchParty/Web/configPage.html
  src/server/src/auth.rs
  src/server/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test, dotnet-build, dotnet-test, js-syntax

fix(auth): reject weak JWT secrets
  .env.example
  docs/development/setup.md
  docs/operations/configuration.md
  docs/operations/deployment.md
  docs/operations/installation.md
  docs/operations/security.md
  docs/technical/api.md
  src/clients/jellyfin-web/tests/jwt-secret-policy.test.js
  src/plugins/jellyfin/OpenWatchParty.Tests/JwtSecretValidatorTests.cs
  src/plugins/jellyfin/OpenWatchParty.Tests/PluginConfigurationTests.cs
  src/plugins/jellyfin/OpenWatchParty/Controllers/OpenWatchPartyController.cs
  src/plugins/jellyfin/OpenWatchParty/JwtSecretValidator.cs
  src/plugins/jellyfin/OpenWatchParty/Plugin.cs
  src/plugins/jellyfin/OpenWatchParty/Web/configPage.html
  src/server/Cargo.lock
  src/server/Cargo.toml
  src/server/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-test, dotnet-build, dotnet-test, js-syntax

fix(server): upgrade the vulnerable HTTP stack
  src/server/Cargo.lock
  src/server/Cargo.toml
  src/server/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ci): prevent release metadata shell injection
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  infra/just/test.just
  infra/scripts/tests/update-plugin-manifest.test.sh
  infra/scripts/update-plugin-manifest.sh
Due: none

fix(release): centralize product versions and Jellyfin ABI
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  infra/docker/dev/docker-compose.yml
  infra/docker/prod/docker-compose.yml
  infra/just/build.just
  infra/just/common.just
  infra/just/test.just
  infra/scripts/tests/update-plugin-manifest.test.sh
  infra/scripts/tests/verify-versions.test.sh
  infra/scripts/tests/write-plugin-meta.test.sh
  infra/scripts/update-plugin-manifest.sh
  infra/scripts/verify-versions.sh
  infra/scripts/write-plugin-meta.sh
  justfile
  src/clients/jellyfin-web/manifest.json
  src/plugins/jellyfin/Directory.Build.props
  src/plugins/jellyfin/OpenWatchParty.Tests/OpenWatchParty.Tests.csproj
  src/plugins/jellyfin/OpenWatchParty.Tests/PluginTests.cs
  src/plugins/jellyfin/OpenWatchParty/OpenWatchPartyPlugin.csproj
  src/plugins/jellyfin/OpenWatchParty/Plugin.cs
  src/server/Cargo.lock
  src/server/Cargo.toml
  version.json
Due: dotnet-build, dotnet-test

fix(client): restore room state after reconnect
  src/clients/jellyfin-web/app/lifecycle.js
  src/clients/jellyfin-web/state.js
  src/clients/jellyfin-web/tests/reconnect.test.js
  src/clients/jellyfin-web/ws/connection.js
  src/clients/jellyfin-web/ws/handlers/room.js
  src/clients/jellyfin-web/ws/handlers/sync.js
  src/clients/jellyfin-web/ws/send.js
Due: js-syntax

fix(client): stop intentional closes from reconnecting
  src/clients/jellyfin-web/app/cleanup.js
  src/clients/jellyfin-web/state.js
  src/clients/jellyfin-web/tests/auth-config.test.js
  src/clients/jellyfin-web/tests/reconnect.test.js
  src/clients/jellyfin-web/ws/auth.js
  src/clients/jellyfin-web/ws/connection.js
Due: js-syntax

fix(client): reset playback when leaving a room
  src/clients/jellyfin-web/playback/play.js
  src/clients/jellyfin-web/state.js
  src/clients/jellyfin-web/tests/playback-request.test.js
  src/clients/jellyfin-web/tests/reconnect.test.js
  src/clients/jellyfin-web/tests/room-reset.test.js
  src/clients/jellyfin-web/ws/connection.js
  src/clients/jellyfin-web/ws/handlers/room.js
  src/clients/jellyfin-web/ws/send.js
Due: js-syntax

fix(client): bind ready state to the requested media
  src/clients/jellyfin-web/playback/play.js
  src/clients/jellyfin-web/playback/sync.js
  src/clients/jellyfin-web/state.js
  src/clients/jellyfin-web/tests/media-ready.test.js
  src/clients/jellyfin-web/ws/handlers/sync.js
  src/clients/jellyfin-web/ws/send.js
Due: js-syntax

fix(client): schedule every playback control
  src/clients/jellyfin-web/state.js
  src/clients/jellyfin-web/tests/media-ready.test.js
  src/clients/jellyfin-web/tests/playback-schedule.test.js
  src/clients/jellyfin-web/ws/handlers/playback.js
  src/clients/jellyfin-web/ws/handlers/sync.js
  src/clients/jellyfin-web/ws/send.js
  src/server/src/room/leave.rs
  src/server/src/types.rs
  src/server/src/ws/handlers/create.rs
  src/server/src/ws/handlers/join.rs
  src/server/src/ws/handlers/misc.rs
  src/server/src/ws/handlers/playback.rs
  src/server/src/ws/mod.rs
  src/server/src/ws/pending_play.rs
Due: cargo-fmt, cargo-clippy, cargo-test, js-syntax

fix(server): enforce ingress resource limits
  .env.example
  docs/operations/configuration.md
  infra/docker/dev/docker-compose.yml
  infra/docker/prod/docker-compose.yml
  src/server/Cargo.lock
  src/server/Cargo.toml
  src/server/src/main.rs
  src/server/src/routes.rs
  src/server/src/ws/connection.rs
  src/server/src/ws/constants.rs
  src/server/src/ws/dispatch.rs
  src/server/src/ws/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(auth): expire authenticated websocket sessions
  src/server/Cargo.toml
  src/server/src/auth.rs
  src/server/src/routes.rs
  src/server/src/test_helpers.rs
  src/server/src/types.rs
  src/server/src/ws/connection.rs
  src/server/src/ws/dispatch.rs
  src/server/src/ws/handlers/auth.rs
  src/server/src/ws/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(server): validate and rebuild playback messages
  src/server/src/types.rs
  src/server/src/ws/handlers/playback.rs
  src/server/src/ws/pending_play.rs
  src/server/src/ws/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(server): disconnect clients that cannot accept critical messages
  src/server/src/messaging.rs
  src/server/src/routes.rs
  src/server/src/test_helpers.rs
  src/server/src/types.rs
  src/server/src/ws/connection.rs
  src/server/src/ws/handlers/chat.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(server): coordinate graceful shutdown
  src/server/Cargo.lock
  src/server/Cargo.toml
  src/server/src/main.rs
  src/server/src/routes.rs
  src/server/src/tasks.rs
  src/server/src/ws/connection.rs
  src/server/src/ws/constants.rs
  src/server/src/ws/dispatch.rs
  src/server/src/ws/handlers/playback.rs
  src/server/src/ws/mod.rs
  src/server/src/ws/pending_play.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(server): use monotonic time for internal deadlines
  src/server/src/messaging.rs
  src/server/src/room/leave.rs
  src/server/src/tasks.rs
  src/server/src/test_helpers.rs
  src/server/src/types.rs
  src/server/src/utils.rs
  src/server/src/ws/connection.rs
  src/server/src/ws/dispatch.rs
  src/server/src/ws/handlers/create.rs
  src/server/src/ws/handlers/join.rs
  src/server/src/ws/handlers/misc.rs
  src/server/src/ws/handlers/playback.rs
  src/server/src/ws/mod.rs
  src/server/src/ws/pending_play.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(auth): sanitize names from JWT claims
  src/server/src/ws/handlers/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(server): sanitize structured client logs
  src/server/src/ws/constants.rs
  src/server/src/ws/handlers/misc.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(protocol): return explicit errors for invalid transitions
  docs/technical/protocol.md
  src/server/src/routes.rs
  src/server/src/ws/connection.rs
  src/server/src/ws/dispatch.rs
  src/server/src/ws/handlers/auth.rs
  src/server/src/ws/handlers/chat.rs
  src/server/src/ws/handlers/create.rs
  src/server/src/ws/handlers/join.rs
  src/server/src/ws/handlers/misc.rs
  src/server/src/ws/handlers/playback.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(client): await Jellyfin playback APIs
  src/clients/jellyfin-web/playback/play.js
  src/clients/jellyfin-web/tests/play-methods.test.js
Due: js-syntax

fix(loader): recover cleanly from module load failures
  src/clients/jellyfin-web/app/lifecycle.js
  src/clients/jellyfin-web/plugin.js
  src/clients/jellyfin-web/tests/lifecycle-init.test.js
  src/clients/jellyfin-web/tests/loader.test.js
  src/plugins/jellyfin/OpenWatchParty.Tests/ClientAssetPublicationTests.cs
Due: dotnet-build, dotnet-test, js-syntax

fix(client): track and cancel every deferred operation
  src/clients/jellyfin-web/app/cleanup.js
  src/clients/jellyfin-web/app/lifecycle.js
  src/clients/jellyfin-web/playback/bind.js
  src/clients/jellyfin-web/playback/play.js
  src/clients/jellyfin-web/playback/sync.js
  src/clients/jellyfin-web/state.js
  src/clients/jellyfin-web/tests/reconnect.test.js
  src/clients/jellyfin-web/tests/room-reset.test.js
  src/clients/jellyfin-web/tests/timers.test.js
  src/clients/jellyfin-web/ui/cards.js
  src/clients/jellyfin-web/ui/toasts.js
  src/clients/jellyfin-web/utils/time.js
  src/clients/jellyfin-web/ws/auth.js
  src/clients/jellyfin-web/ws/connection.js
  src/clients/jellyfin-web/ws/handlers/playback.js
  src/clients/jellyfin-web/ws/handlers/sync.js
  src/clients/jellyfin-web/ws/send.js
Due: js-syntax

fix(auth): distinguish disabled authentication from token failure
  src/clients/jellyfin-web/tests/auth-config.test.js
  src/clients/jellyfin-web/tests/reconnect.test.js
  src/clients/jellyfin-web/ws/auth.js
  src/clients/jellyfin-web/ws/connection.js
Due: js-syntax

fix(plugin): make signing credential cache atomic
  src/plugins/jellyfin/OpenWatchParty.Tests/SigningCredentialCacheTests.cs
  src/plugins/jellyfin/OpenWatchParty/Controllers/OpenWatchPartyController.cs
Due: dotnet-build, dotnet-test

fix(plugin): make token rate limiting atomic
  docs/operations/troubleshooting.md
  docs/product/features.md
  docs/technical/api.md
  docs/technical/architecture.md
  docs/technical/plugin.md
  src/plugins/jellyfin/OpenWatchParty.Tests/TokenRateLimiterTests.cs
  src/plugins/jellyfin/OpenWatchParty/Controllers/OpenWatchPartyController.cs
  src/plugins/jellyfin/OpenWatchParty/TokenRateLimiter.cs
Due: dotnet-build, dotnet-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  dotnet-build: any of: \.cs$|\.csproj$
  dotnet-test: any of: \.cs$|\.csproj$
  js-syntax: any of: clients/jellyfin-web/.*\.js$
