Repository mhbxyz/OpenWatchParty: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, dotnet-build, dotnet-test, js-syntax

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd server && cargo fmt'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd server && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: bash -c 'cd server && cargo test --quiet'
  language: system
  pass_filenames: false
  stages:
  - pre-push

dotnet-build:
  name: dotnet build
  entry: bash -c 'cd plugins/jellyfin && dotnet build OpenWatchParty.Tests/OpenWatchParty.Tests.csproj --nologo -v q'
  language: system
  pass_filenames: false

dotnet-test:
  name: dotnet test
  entry: bash -c 'cd plugins/jellyfin && dotnet test OpenWatchParty.Tests/OpenWatchParty.Tests.csproj --nologo -v q --no-build'
  language: system
  pass_filenames: false
  stages:
  - pre-push

js-syntax:
  name: js syntax check
  entry: bash -c 'for f in clients/jellyfin-web/*.js; do node --check "$f" || exit 1; done'
  language: system
  pass_filenames: false

build: automate the version bump
  docs/development/release.md
  infra/scripts/bump-version.sh
  infra/scripts/tests/bump-version.test.sh
  justfile
Due: none

perf(auth): cache the RSA trust store between validations
  .gitleaks.toml
  src/server/src/auth.rs
  src/server/src/trust.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: use the modern authorization header in the API examples
  docs/operations/configuration.md
  docs/operations/monitoring.md
  docs/product/features.md
  docs/technical/api.md
Due: none

docs: document token signature and session server reachability failures
  .gitignore
  docs/operations/troubleshooting.md
Due: none

build: always build and verify with the pinned .NET SDK image
  .github/workflows/ci.yml
  docs/development/setup.md
  infra/just/test.just
  infra/scripts/package-plugin.sh
  infra/scripts/tests/verify-toolchain.test.sh
  infra/scripts/verify-toolchain.sh
  infra/scripts/verify-versions.sh
Due: none

fix(server): keep connections alive with protocol heartbeats
  src/server/src/main.rs
  src/server/src/tasks.rs
  src/server/src/ws/constants.rs
  src/server/src/ws/dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(client): back off blocked authentication retries
  src/clients/jellyfin-web/app/lifecycle.js
  src/clients/jellyfin-web/state.js
  src/clients/jellyfin-web/tests/auth-retry-backoff.test.js
  src/clients/jellyfin-web/ws/connection.js
Due: js-syntax

fix(build): quote the Compose validation version
  .githooks/pre-commit
Due: none

test(build): give the hook fixture a version.json
  infra/scripts/tests/pre-commit.test.sh
Due: none

fix(owpctl): harden installation validation, state and output
  src/owpctl/src/app.rs
  src/owpctl/src/compose.rs
  src/owpctl/src/diagnostics.rs
  src/owpctl/src/installer.rs
  src/owpctl/src/maintenance.rs
  src/owpctl/src/output.rs
  src/owpctl/src/web.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(server): stop broadcasting the room list to unauthenticated clients
  src/server/src/messaging.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: record the 0.3.4 release for the Jellyfin 10.11 line
  docs/operations/compatibility.md
  docs/operations/troubleshooting.md
Due: none

fix(docker): pick up the fixed libssl3 in the runtime image
  infra/docker/server.Dockerfile
Due: none

fix(client): reject inherited message types in WebSocket validation
  src/clients/jellyfin-web/tests/ws-validation.test.js
  src/clients/jellyfin-web/ws/validation.js
Due: js-syntax

docs(ci): document the enabled security alert automation
  docs/development/ci.md
Due: none

fix(owpctl): migrate to the rand 0.10 and sha2 0.11 APIs
  src/owpctl/src/secrets.rs
  src/owpctl/src/web.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(server): enable the jsonwebtoken 11 aws_lc_rs provider
  docs/development/ci.md
  infra/docker/server.Dockerfile
  src/server/Cargo.lock
  src/server/Cargo.toml
Due: none

fix(deps): patch vulnerable brace-expansion in client tooling
  src/clients/jellyfin-web/package-lock.json
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  dotnet-build: any of: \.cs$|\.csproj$
  dotnet-test: any of: \.cs$|\.csproj$
  js-syntax: any of: clients/jellyfin-web/.*\.js$
