Repository mhbxyz/OpenWatchParty: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, dotnet-build, dotnet-test, js-syntax

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd server && cargo fmt'
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd server && cargo clippy -- -D warnings'
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: bash -c 'cd server && cargo test --quiet'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

  # .NET checks
  - repo: local
    hooks:
      - id: dotnet-build
        name: dotnet build
        entry: bash -c 'cd plugins/jellyfin && dotnet build OpenWatchParty.Tests/OpenWatchParty.Tests.csproj --nologo -v q'
        language: system
        files: '\.cs$|\.csproj$'
        pass_filenames: false

      - id: dotnet-test
        name: dotnet test
        entry: bash -c 'cd plugins/jellyfin && dotnet test OpenWatchParty.Tests/OpenWatchParty.Tests.csproj --nologo -v q --no-build'
        language: system
        files: '\.cs$|\.csproj$'
        pass_filenames: false
        stages: [pre-push]

  # JavaScript syntax check
  - repo: local
    hooks:
      - id: js-syntax
        name: js syntax check
        entry: bash -c 'for f in clients/jellyfin-web/*.js; do node --check "$f" || exit 1; done'
        language: system
        files: 'clients/jellyfin-web/.*\.js$'
        pass_filenames: false

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008']  # Ignore pinning apt versions

fix(plugin): keep failed diagnostics in the support report
  src/clients/jellyfin-web/tests/config-page-support-report.test.js
  src/plugins/jellyfin/OpenWatchParty/Web/configPage.html
Due: js-syntax

fix(client): send the modern Jellyfin authorization header
  src/clients/jellyfin-web/tests/auth-config.test.js
  src/clients/jellyfin-web/ws/auth.js
Due: js-syntax

build: always build and verify with the pinned .NET SDK image
  .github/workflows/ci.yml
  docs/development/setup.md
  infra/just/test.just
  infra/scripts/package-plugin.sh
  infra/scripts/tests/verify-toolchain.test.sh
  infra/scripts/verify-toolchain.sh
  infra/scripts/verify-versions.sh
Due: none

build: automate the version bump
  docs/development/release.md
  infra/scripts/bump-version.sh
  infra/scripts/tests/bump-version.test.sh
  justfile
Due: none

release: prepare v0.3.4
  README.md
  docs/development/ci.md
  docs/operations/compatibility.md
  docs/operations/deployment.md
  docs/operations/installation.md
  src/clients/jellyfin-web/manifest.json
  src/owpctl/Cargo.lock
  src/owpctl/Cargo.toml
  src/plugins/jellyfin/Directory.Build.props
  src/server/Cargo.lock
  src/server/Cargo.toml
  version.json
Due: none

build: fix the shellcheck and robustness findings in the version tooling
  infra/scripts/bump-version.sh
  infra/scripts/tests/bump-version.test.sh
Due: none

chore(security): allowlist the synthetic RS256 test fixture
  .gitleaks.toml
Due: none

chore(security): document why the RS256 fixture is allowlisted
  .gitleaks.toml
Due: none

fix(deps): update the vulnerable transitive dependencies
  src/owpctl/Cargo.lock
Due: none

fix(docs): build the documentation without the github-pages meta-gem
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
Due: none

chore: test against the current Jellyfin 12.1 release
  .githooks/pre-commit
  README.md
  docs/operations/compatibility.md
  docs/operations/installation.md
  infra/docker/dev/docker-compose.yml
  version.json
Due: none

docs: document token signature and session server reachability failures
  .gitignore
  docs/operations/troubleshooting.md
Due: none

fix(build): quote the Compose validation version
  .githooks/pre-commit
Due: none

test(build): give the hook fixture a version.json
  infra/scripts/tests/pre-commit.test.sh
Due: none

fix(server): close the review findings on the new trust store and heartbeat
  src/server/src/auth.rs
  src/server/src/messaging.rs
  src/server/src/tasks.rs
  src/server/src/trust.rs
  src/server/src/ws/dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(client): close the review findings on retries, reporting and chat limits
  src/clients/jellyfin-web/chat/input.js
  src/clients/jellyfin-web/tests/auth-retry-backoff.test.js
  src/clients/jellyfin-web/tests/chat-input-length.test.js
  src/clients/jellyfin-web/tests/config-page-support-report.test.js
  src/clients/jellyfin-web/ws/connection.js
  src/plugins/jellyfin/OpenWatchParty/Web/configPage.html
Due: js-syntax

docs: use the modern authorization header in the API examples
  docs/operations/configuration.md
  docs/operations/monitoring.md
  docs/product/features.md
  docs/technical/api.md
Due: none

ci: build the documentation on pull requests
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  infra/scripts/verify-workflow-permissions.py
Due: none

fix(server): count chat message limits in characters
  src/server/src/ws/handlers/chat.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(owpctl): never let a stale temporary file block a write
  src/owpctl/src/storage.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(plugin)!: support Jellyfin 12
  .githooks/pre-commit
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  global.json
  infra/docker/dev/docker-compose.yml
  infra/docker/prod/docker-compose.yml
  infra/just/test.just
  infra/scripts/package-plugin.sh
  infra/scripts/tests/locked-restore.test.sh
  infra/scripts/verify-versions.sh
  src/clients/jellyfin-web/manifest.json
  src/owpctl/Cargo.lock
  src/owpctl/Cargo.toml
  src/plugins/jellyfin/Directory.Build.props
  src/plugins/jellyfin/OpenWatchParty.Tests/DiagnosticsTests.cs
  src/plugins/jellyfin/OpenWatchParty.Tests/OpenWatchParty.Tests.csproj
  src/plugins/jellyfin/OpenWatchParty.Tests/packages.lock.json
  src/plugins/jellyfin/OpenWatchParty/OpenWatchPartyPlugin.csproj
  src/plugins/jellyfin/OpenWatchParty/packages.lock.json
  src/server/Cargo.lock
  src/server/Cargo.toml
  version.json
Due: dotnet-build, dotnet-test

docs: document the Jellyfin 12 line and add a bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/development/ci.md
  docs/development/file-transformation-integration.md
  docs/development/release.md
  docs/development/setup.md
  docs/operations/compatibility.md
  docs/operations/deployment.md
  docs/operations/installation.md
  docs/operations/owpctl.md
  docs/operations/troubleshooting.md
  docs/product/features.md
  docs/technical/architecture.md
  docs/technical/plugin.md
Due: none
