Repository mhbxyz/OpenWatchParty: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, dotnet-build, dotnet-test, js-syntax

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd server && cargo fmt'
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd server && cargo clippy -- -D warnings'
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: bash -c 'cd server && cargo test --quiet'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

  # .NET checks
  - repo: local
    hooks:
      - id: dotnet-build
        name: dotnet build
        entry: bash -c 'cd plugins/jellyfin && dotnet build OpenWatchParty.Tests/OpenWatchParty.Tests.csproj --nologo -v q'
        language: system
        files: '\.cs$|\.csproj$'
        pass_filenames: false

      - id: dotnet-test
        name: dotnet test
        entry: bash -c 'cd plugins/jellyfin && dotnet test OpenWatchParty.Tests/OpenWatchParty.Tests.csproj --nologo -v q --no-build'
        language: system
        files: '\.cs$|\.csproj$'
        pass_filenames: false
        stages: [pre-push]

  # JavaScript syntax check
  - repo: local
    hooks:
      - id: js-syntax
        name: js syntax check
        entry: bash -c 'for f in clients/jellyfin-web/*.js; do node --check "$f" || exit 1; done'
        language: system
        files: 'clients/jellyfin-web/.*\.js$'
        pass_filenames: false

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008']  # Ignore pinning apt versions

fix(client): surface playback failures and recover state
  src/clients/jellyfin-web/playback/bind.js
  src/clients/jellyfin-web/playback/play.js
  src/clients/jellyfin-web/state.js
  src/clients/jellyfin-web/tests/playback-schedule.test.js
  src/clients/jellyfin-web/tests/room-reset.test.js
  src/clients/jellyfin-web/tests/safe-play.test.js
  src/clients/jellyfin-web/ui/indicators.js
  src/clients/jellyfin-web/ws/handlers/playback.js
  src/clients/jellyfin-web/ws/handlers/sync.js
  src/clients/jellyfin-web/ws/send.js
Due: js-syntax

fix(client): correct initial synchronization behavior
  src/clients/jellyfin-web/playback/sync.js
  src/clients/jellyfin-web/state.js
  src/clients/jellyfin-web/tests/initial-sync.test.js
  src/clients/jellyfin-web/tests/room-reset.test.js
  src/clients/jellyfin-web/ws/handlers/playback.js
  src/clients/jellyfin-web/ws/handlers/sync.js
  src/clients/jellyfin-web/ws/send.js
Due: js-syntax

fix(client): validate websocket message schemas
  infra/just/common.just
  justfile
  src/clients/jellyfin-web/plugin.js
  src/clients/jellyfin-web/tests/loader.test.js
  src/clients/jellyfin-web/tests/reconnect.test.js
  src/clients/jellyfin-web/tests/send.test.js
  src/clients/jellyfin-web/tests/ws-validation.test.js
  src/clients/jellyfin-web/ws/connection.js
  src/clients/jellyfin-web/ws/send.js
  src/clients/jellyfin-web/ws/validation.js
  src/plugins/jellyfin/OpenWatchParty.Tests/ClientAssetPublicationTests.cs
  src/plugins/jellyfin/OpenWatchParty/Controllers/OpenWatchPartyController.cs
Due: dotnet-build, dotnet-test, js-syntax

fix(client): remove residual DOM injection surfaces
  src/clients/jellyfin-web/chat/messages.js
  src/clients/jellyfin-web/tests/dom-security.test.js
  src/clients/jellyfin-web/tests/fake-dom.js
  src/clients/jellyfin-web/tests/setup.js
  src/clients/jellyfin-web/tests/utils.test.js
  src/clients/jellyfin-web/ui/cards.js
  src/clients/jellyfin-web/ui/home.js
  src/clients/jellyfin-web/ui/indicators.js
  src/clients/jellyfin-web/ui/render.js
  src/clients/jellyfin-web/ui/toasts.js
  src/clients/jellyfin-web/utils/misc.js
Due: js-syntax

fix(plugin): validate session websocket URLs
  docs/operations/configuration.md
  infra/just/common.just
  src/clients/jellyfin-web/plugin.js
  src/clients/jellyfin-web/tests/auth-config.test.js
  src/clients/jellyfin-web/tests/loader.test.js
  src/clients/jellyfin-web/tests/setup.js
  src/clients/jellyfin-web/tests/url.test.js
  src/clients/jellyfin-web/utils/url.js
  src/clients/jellyfin-web/ws/auth.js
  src/clients/jellyfin-web/ws/connection.js
  src/plugins/jellyfin/OpenWatchParty.Tests/ClientAssetPublicationTests.cs
  src/plugins/jellyfin/OpenWatchParty.Tests/PluginConfigurationTests.cs
  src/plugins/jellyfin/OpenWatchParty.Tests/SessionServerUrlValidatorTests.cs
  src/plugins/jellyfin/OpenWatchParty/Configuration/PluginConfiguration.cs
  src/plugins/jellyfin/OpenWatchParty/Controllers/OpenWatchPartyController.cs
  src/plugins/jellyfin/OpenWatchParty/SessionServerUrlValidator.cs
  src/plugins/jellyfin/OpenWatchParty/Web/configPage.html
Due: dotnet-build, dotnet-test, js-syntax

ci(js): enforce recursive linting and syntax checks
  .github/workflows/ci.yml
  .gitignore
  infra/just/lint.just
  infra/just/test.just
  src/clients/jellyfin-web/eslint.config.js
  src/clients/jellyfin-web/package-lock.json
  src/clients/jellyfin-web/package.json
  src/clients/jellyfin-web/tests/check-syntax.cjs
  src/clients/jellyfin-web/tests/lint-command.test.sh
Due: js-syntax

ci(server): build and smoke-test the release image
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

ci(server): trigger beta builds for infrastructure changes
  .github/workflows/publish.yml
Due: none

chore(ci): pin actions and container images
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  infra/docker/dev/docker-compose.yml
  infra/docker/prod/docker-compose.yml
  infra/docker/server.Dockerfile
  infra/just/test.just
  infra/scripts/tests/verify-pins.test.sh
  infra/scripts/verify-pins.sh
Due: none

chore(deps): make dependency resolution reproducible
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .gitignore
  docs/Gemfile
  docs/Gemfile.lock
  global.json
  infra/docker/dev/docker-compose.yml
  infra/docker/prod/docker-compose.yml
  infra/docker/server.Dockerfile
  infra/just/build.just
  infra/just/test.just
  infra/scripts/tests/locked-restore.test.sh
  justfile
  rust-toolchain.toml
  src/plugins/jellyfin/Directory.Build.props
  src/plugins/jellyfin/OpenWatchParty.Tests/packages.lock.json
  src/plugins/jellyfin/OpenWatchParty/packages.lock.json
Due: none

build: verify File Transformation downloads
  infra/just/build.just
  infra/just/common.just
  infra/just/test.just
  infra/scripts/tests/verify-sha256.test.sh
  infra/scripts/verify-sha256.sh
  version.json
Due: none

build: unify local and CI plugin packaging
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  infra/scripts/package-plugin.sh
  infra/scripts/tests/package-plugin.test.sh
  justfile
Due: none

test(build): include plugin packaging validation
  infra/just/test.just
Due: none

docs: repair installation and upgrade commands
  .github/workflows/ci.yml
  docs/operations/deployment.md
  docs/operations/installation.md
  infra/just/test.just
  infra/scripts/tests/docs-operations.test.sh
Due: none

ci: apply least-privilege workflow permissions
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  infra/just/test.just
  infra/scripts/verify-workflow-permissions.py
  justfile
Due: none

security: make Trivy findings release-blocking
  .github/workflows/publish.yml
  .github/workflows/security.yml
  infra/scripts/verify-workflow-permissions.py
Due: none

security: publish signed SBOMs and provenance
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  infra/just/test.just
  infra/scripts/tests/supply-chain.test.sh
  infra/scripts/validate-sbom.sh
  infra/scripts/verify-checksum.sh
  infra/scripts/verify-workflow-permissions.py
  infra/scripts/write-sha256.sh
Due: none

fix(release): make manifest updates idempotent
  .github/workflows/publish.yml
  infra/scripts/tests/update-plugin-manifest.test.sh
  infra/scripts/update-plugin-manifest.sh
Due: none

fix(config): align logging port and healthcheck variables
  infra/docker/dev/docker-compose.yml
  infra/docker/prod/docker-compose.yml
  infra/docker/server.Dockerfile
  src/server/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

hardening(prod): secure the production compose service
  infra/docker/prod/docker-compose.yml
Due: none

hardening(build): remove host networking from plugin builders
  infra/docker/dev/docker-compose.yml
  infra/docker/prod/docker-compose.yml
Due: none

security: add repository secret scanning
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .gitleaks-baseline.json
  .gitleaks.toml
  infra/just/test.just
  infra/scripts/scan-secrets.sh
  infra/scripts/tests/secret-scan.test.sh
  infra/scripts/verify-workflow-permissions.py
  justfile
Due: none

chore: strengthen the pre-commit hook
  .githooks/pre-commit
  .github/workflows/ci.yml
  .gitleaks.toml
  infra/just/test.just
  infra/scripts/scan-secrets.sh
  infra/scripts/tests/pre-commit.test.sh
  infra/scripts/tests/secret-scan.test.sh
  justfile
Due: none

docs: add a usable security reporting policy
  SECURITY.md
  docs/operations/security.md
Due: none

docs: align documented tool and compatibility versions
  README.md
  docs/development/ci.md
  docs/development/file-transformation-integration.md
  docs/development/setup.md
  docs/operations/compatibility.md
  docs/operations/installation.md
  docs/product/features.md
  docs/technical/architecture.md
  infra/scripts/tests/verify-versions.test.sh
  infra/scripts/verify-versions.sh
Due: none

style(server): satisfy Rust 1.88 clippy
  src/server/src/auth.rs
  src/server/src/main.rs
  src/server/src/messaging.rs
  src/server/src/room/close.rs
  src/server/src/room/leave.rs
  src/server/src/routes.rs
  src/server/src/tasks.rs
  src/server/src/test_helpers.rs
  src/server/src/ws/connection.rs
  src/server/src/ws/dispatch.rs
  src/server/src/ws/handlers/auth.rs
  src/server/src/ws/handlers/chat.rs
  src/server/src/ws/handlers/create.rs
  src/server/src/ws/handlers/join.rs
  src/server/src/ws/handlers/misc.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(ci): use supported NuGet audit arguments
  .github/workflows/security.yml
Due: none

fix(release): verify Cosign image signatures
  .github/workflows/publish.yml
Due: none

deploy(prod): use signed v0.2.0 image
  infra/docker/prod/docker-compose.yml
Due: none

fix(client): bind browser timer methods
  src/clients/jellyfin-web/state.js
  src/clients/jellyfin-web/tests/timers.test.js
Due: js-syntax

fix(client): reconnect after Jellyfin login
  src/clients/jellyfin-web/app/lifecycle.js
  src/clients/jellyfin-web/tests/lifecycle-init.test.js
Due: js-syntax

fix(client): launch media through Jellyfin details
  src/clients/jellyfin-web/playback/play.js
  src/clients/jellyfin-web/tests/play-methods.test.js
Due: js-syntax

release: prepare v0.2.1
  README.md
  docs/development/ci.md
  docs/operations/compatibility.md
  docs/operations/deployment.md
  docs/operations/installation.md
  docs/product/features.md
  src/clients/jellyfin-web/manifest.json
  src/plugins/jellyfin/Directory.Build.props
  src/server/Cargo.lock
  src/server/Cargo.toml
  version.json
Due: none

test(client): support login retry without WebSocket global
  src/clients/jellyfin-web/app/lifecycle.js
Due: js-syntax

deploy(prod): use signed v0.2.1 image
  infra/docker/prod/docker-compose.yml
Due: none

docs: separate installation from development
  docs/operations/installation.md
  docs/product/faq.md
  docs/product/user-guide.md
Due: none

feat(owpctl): add Jellyfin and service diagnostics
  src/owpctl/Cargo.lock
  src/owpctl/Cargo.toml
  src/owpctl/src/app.rs
  src/owpctl/src/cli.rs
  src/owpctl/src/diagnostics.rs
  src/owpctl/src/jellyfin.rs
  src/owpctl/src/lib.rs
  src/owpctl/src/output.rs
  src/owpctl/src/storage.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(owpctl): install and configure OpenWatchParty
  src/owpctl/Cargo.lock
  src/owpctl/Cargo.toml
  src/owpctl/src/app.rs
  src/owpctl/src/cli.rs
  src/owpctl/src/compose.rs
  src/owpctl/src/installer.rs
  src/owpctl/src/jellyfin.rs
  src/owpctl/src/lib.rs
  src/owpctl/src/secrets.rs
Due: cargo-fmt, cargo-clippy, cargo-test
